<h3>URL: <%= @link.long_url %></h3>

<h3>Short URL: <%= link_to show_link_url(@link.token), show_link_url(@link.token), target: '_blank' %> </h3>

<h3>Stats:</h3>

<b>Total visits:</b> <%= @total_visits %>

<%= geo_chart @geo_data %>
